.body-login {
    background: linear-gradient(to bottom, rgb(250, 252, 253), rgb(202, 230, 245), rgb(89, 241, 165));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    padding-top: 10vh;
    font-family: 'Play', sans-serif;
}

.card {
    max-width: 768px;
    width: 70%;
    min-width: 400px;
    border-radius: 1vw;
    background-color: #FFFFFF;
    padding: 2vw;
}

.card h1 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 50px;
}

.input-fields {
    margin: 20px 1px 10px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-fields label {
    width: 90%;
    text-align: left;
}

.input-fields input {
    width: 90%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgb(136, 139, 155);
    margin: 10px;
    padding-left: 10px;
}

.button {
    background: rgb(0, 0, 255);
    color: white;
    border: none;
    border-radius: 6px;
    height: 50px;
    width: 90%;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background: rgb(155, 210, 240);
}
